.background-child {
  height: 2.594rem;
  width: 21.25rem;
  position: relative;
  border-radius: 13.27px;
  border: 0.8px solid #b4bbc6;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.economics {
  width: 3.875rem;
  border: 0;
  outline: 0;
  font-family: Poppins;
  font-size: 0.725rem;
  background-color: transparent;
  height: 0.75rem;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  color: #b4bbc6;
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.background {
  align-self: stretch;
  border-radius: 13.27px;
  border: 0.8px solid #b4bbc6;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.812rem 1.187rem 0.875rem;
  max-width: 100%;
}
