.span6 {
  color: #1f86ff;
}
.name2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  line-height: 100%;
}
.background-child4 {
  position: absolute;
  border-radius: 13.27px;
  border: 0.8px solid #b4bbc6;
  box-sizing: border-box;
}
.background-child4,
.background6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background6,
.camera-7,
.text {
  position: absolute;
}
.camera-7 {
  top: calc(50% - 6px);
  left: 0;
  letter-spacing: -0.02em;
  line-height: 100%;
}
.text {
  top: calc(50% - 6.65px);
  left: 19.9px;
  width: 66px;
  height: 12px;
}
.large-input {
  position: absolute;
  top: 22.4px;
  left: 0;
  width: 340px;
  height: 41.5px;
  font-size: 11.6px;
  color: #b4bbc6;
}
.email {
  width: 340px;
  position: relative;
  height: 63.9px;
  text-align: left;
  font-size: 12.7px;
  color: #fff;
  font-family: Poppins;
}
