.frame-child8,
.frame-child9 {
  position: relative;
  display: none;
}
.frame-child8 {
  align-self: stretch;
  height: 11.969rem;
  border-radius: 7.69px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child9 {
  height: 1.3rem;
  width: 6.631rem;
  backdrop-filter: blur(3.08px);
  background-color: rgba(31, 134, 255, 0.6);
}
.camera-31 {
  position: relative;
  line-height: 1.188rem;
  font-weight: 800;
  display: inline-block;
  min-width: 4.313rem;
  z-index: 2;
}
.frame-child10,
.rectangle-parent9 {
  backdrop-filter: blur(3.08px);
  background-color: rgba(31, 134, 255, 0.6);
}
.rectangle-parent9 {
  width: 6.631rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.062rem 0.112rem;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.frame-child10 {
  height: 1.3rem;
  width: 7.256rem;
  position: relative;
  display: none;
}
.date-120620252 {
  position: relative;
  line-height: 1.188rem;
  font-weight: 500;
  display: inline-block;
  min-width: 6.063rem;
  z-index: 2;
}
.rectangle-parent10 {
  backdrop-filter: blur(3.08px);
  background-color: rgba(31, 134, 255, 0.6);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.093rem 0.562rem 0.018rem;
  white-space: nowrap;
  z-index: 1;
  font-size: 0.481rem;
}
.frame-wrapper6,
.rectangle-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle-parent8 {
  align-self: stretch;
  border-radius: 7.69px;
  justify-content: flex-start;
  padding: 0.143rem 0.125rem;
  gap: 9.081rem;
  background-image: url(/public/rectangle-633@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-wrapper6 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 0.156rem;
  box-sizing: border-box;
  min-width: 13.313rem;
  max-width: 100%;
}
.vector-icon11 {
  width: 2.763rem;
  height: 1.675rem;
  position: relative;
}
.div9 {
  position: relative;
  line-height: 1.438rem;
  display: inline-block;
  min-width: 1.188rem;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.75rem 0 0.812rem;
}
.vector-icon12 {
  height: 1.675rem;
  width: 1.675rem;
  position: relative;
}
.vector-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.5rem 0 0.562rem;
}
.vector-icon13 {
  position: absolute;
  top: 0;
  left: 0.031rem;
  width: 2.106rem;
  height: 2.106rem;
}
.div11 {
  position: absolute;
  top: 2.106rem;
  left: 0.544rem;
  line-height: 1.438rem;
  display: inline-block;
  min-width: 1.188rem;
}
.vector-parent2 {
  height: 3.544rem;
  flex: 1;
  position: relative;
}
.frame-wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.25rem 0 0.375rem;
}
.frame-parent12,
.vector-parent1 {
  width: 2.763rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.518rem;
  text-align: center;
  font-size: 0.938rem;
  font-family: Poppins;
}
.frame-parent12 {
  width: 24.625rem;
  flex-direction: row;
  padding: 0 0 0.006rem;
  box-sizing: border-box;
  gap: 1.368rem;
  max-width: 100%;
  text-align: right;
  font-size: 0.769rem;
  color: #fff;
  font-family: Manrope;
}
@media screen and (max-width: 450px) {
  .frame-parent12 {
    flex-wrap: wrap;
  }
}
